		html{
			height: 100%;
		}
		body{
			height: 100%;
			background: linear-gradient(#060606, #080808);
			background-color: #d9d9d9;
			background-repeat: no-repeat;
		}
		a{
			color: rgb(141, 129, 129);
			transition: color .1s ease-in-out;
		}
		a:hover{
			color: rgb(177, 169, 169);
		}
		.header {
			margin: left;
			width: 75%;
			height: 50px;
			border-style: solid;
			border-width: 75%;
			padding: 9px;
		}
		.header.text{
			border: none;
			color: red;
			text-align: left;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 24px;
		}
		.main{
			background-image: linear-gradient(#010101, #161616);
			background-repeat: false;
		}
		
		
		.bcontainer{
			position: relative;
			margin-left: auto;
			margin-right: auto;
		}
		.bod{
			display: inline-block;
			border-radius: 3px;
			height: 559px;
		}
		.bod .left{
			/*height: 559px;
			width: 950px;*/
		}
		.bod .mid{
			/*margin-right: 2.5px;
			margin-left: 2.5px;*/
			width: 400px;
			overflow: hidden;
		}
		.bod .right{
			width: 400px;
		}
		#twitch_chat{
			clip: -3px -3px -3px -3px;
			border-radius: 3px;
			overflow: hidden;
		}